<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato comigo!</title>
</head>
<body>
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="WIN_20230424_09_35_00_Pro (1).jpg" alt="Foto de Perfil" height="200px" width="200px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
           &nbsp;&nbsp;&nbsp;&nbsp; <a href="MySite.html">Sobre Joy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Música.html">Músca</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato..html">Entre em Contato</a>
        </nav>
            </header><br>
            <form action="#">
                <label for="cNome">Nome:</label><br>
                <input autocomplete="off" type="text" size="50" name="tNome" id="cNome" required="required">
                <br><br>
                <label for="cNome">E-mail:</label><br>
                <input autocomplete="off" type="text" size="50" name="tNome" id="cNome" required="required">
                <br><br>
                <label for="cNome">WhatsApp:</label><br>
                <input autocomplete="off" type="text" size="50" name="tNome" id="cNome" required="required">
                <br><br>
                <label for="cNome">Data de Nascimento:</label><br>
                <input autocomplete="off" type="text" size="50" name="tNome" id="cNome" required="required">
                <br><br>
                <textarea name="message" rows="10" cols="50" placeholder="Deixe sua mensagem" required="required"></textarea>
                <br><br>
                <input type="submit" value="Enviar">
            </form>
</body>
</html>