<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Larezes</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="WIN_20230424_09_35_00_Pro (1).jpg" alt="Foto de Perfil" height="200px" width="200px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
           &nbsp;&nbsp;&nbsp;&nbsp; <a href="MySite.html">Sobre Joy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Música.html">Músca</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato..html">Entre em Contato</a>
        </nav>
            </header>

            <!--Contéudo de entreterimento-->
            <!--Exemplo de uso <article>-->
                <article>
                    <h3>One Piece</h3>
                    <h4>Nível: 5/5</h4>
                    <p>
                        <img src="OnePiece.jpg" alt="One Piece e seus personagens" width="100px" height="100px">
                    </p>
                    <p>
                        One Piece é sobre um pirata que estica <br>
                        Ele obteve seus poderes comendo uma fruta <br>
                        que te lhe concedeu poderes de borracha.
                    </p>
                    <p>
                        Conheça mais sobre One Piece: &nbsp; <a href="#">Leia +</a>
                    </p>
                    <h3>Death Note
                    <h4>Nível: 5/5</h4>
                    <p>
                        <img src="DeathNote.webp" alt="Kira x L" width="100px" height="100px">
                    </p>
                    <p>
                        Ligth Yagami, um estudante do ensino médio que <br>
                        descobre um caderno sobrenatural, no qual pode <br>
                        matar pessoas se os nomes forem escritos nele enquanto o portador <br>
                        visualizar mentalmente o rosto de alguém que quer assasinar.
                        </p>
                        <p>
                        Conheça mais sobre Death Note: &nbsp; <a href="#">Leia +</a>
                    </p>
                    <h3>The Boys</h3>
                    <4>Nível: 5/5</4>
                    <p>
                        <img src="TheBoys.jfif" alt="Hérois não são, necessaramente, os mocinhos o tempo todo" width="100px" height="100px">
                    </p>
                    <p>
                        A Terra é habitada por super-heróis que são um inspiração para a humanidade. <br>
                        Porém, esses protetores têm um lado sinistro que a maioria das pessoas desconhece. <br>
                         Se eles usam seus poderes para o mal, Hughie, Billy e o resto do time devem detê-los.
                    </p>
                    <p>
                        Conheça mais sobre The Boys: &nbsp; <a href="#">Leia +</a>
                    </p>
                    <h3>The Walking Dead</h3>
                    <h4>Nível: 5/5</h4>
                    <p>
                        <img src="TWD.jfif" alt="Apocalipse Zumbie" width="100px" height="100px">
                    </p>
                    <p>
                        Um grupo de sobreviventes, liderado pelo policial Rick Grimes, <br>
                        segue viajando em busca de uma nova moradia segura e distante dos mortos-vivos. 
                    </p>
                    <p>
                        Conheça mais sobre TWD: &nbsp; <a href="#">Leia +</a>
                    </p>
                </article>
                <!--Rodapé-->
                <footer>
                    By Carlos &copy;
                </footer>
</body>
</html>