<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="WIN_20230424_09_35_00_Pro (1).jpg" alt="Foto de Perfil" height="200px" width="200px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
           &nbsp;&nbsp;&nbsp;&nbsp; <a href="MySite.html">Sobre Joy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Música.html">Músca</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato..html">Entre em Contato</a>
        </nav>
            </header>

    <!--Conteúdo Principal do mySite-->
    <main>
        <h1>Welcome to my universe</h1>
        <p>
            Salveee, meu nome é Carlos <br>
            uma só consciência nossa idade é indefinida <br>
            ninguém precisa saber! Curiosos :v <br>
            Gostamos de tecnologias e pessoas, animais <br>
            e de coisas que não interresa a vocês. <br>
            <h3>Coisas sobre mim</h3>
            <!--Lista não ordenada-->
            <ul>
                <li>Estudo só pelo conhecimento</li>
                <li>Pai de pet</li>
                     <ul>
                        <li>Teka</li>
                        <li>Baby Sander</li>
                        <li>Tina</li>
                     </ul>
                </li>
                <li>Pai de Plantas</li>
                <li>Tenho como práticas:</li>
                <ul>
                    <li>Codar</li>
                    <li>Skate</li>
                    <li>Acampar</li>
                    <li>Morar por aí</li>
                </ul>
                <li>Adoro comer</li>
                <li>Gosto de me divertir</li>
            </ul>
        </p>
    </main>
    <!--Rodapé-->
    <footer>
        By Carlos &copy;
    </footer>
</body>
</html>