<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Playlist</title>
</head>
<body>
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="WIN_20230424_09_35_00_Pro (1).jpg" alt="Foto de Perfil" height="200px" width="200px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
           &nbsp;&nbsp;&nbsp;&nbsp; <a href="MySite.html">Sobre Joy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Música.html">Músca</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato..html">Entre em Contato</a>
        </nav>
            </header>


            <!--Seção para minha playlist-->
            <main>
                <h3>Top 10 das minhas músicas</h3>
                <ol>
                    <li>Sunflower</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    </ol>
            </main>
            <!--Rodapé-->
            <footer>
                By Carlos &copy;
            </footer>
</body>
</html>